@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Magic Collection Tracker</h1>
    <p class="lead">A solution for keeping track of your magic cards and decks.</p>
    <p><a href=@Url.Action("Index", "Collection") class="btn btn-primary btn-lg">Your Collection &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Your cards</h2>
        <p>
            You can get started by importing individual cards that you own.
        </p>
        <p><a class="btn btn-default" href=@Url.Action("Create", "Collection")>Import a card now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Your decks</h2>
        <p>Import and edit entire deck lists at once!</p>
        <p><a class="btn btn-default" href=@Url.Action("DeckCreate", "Collection")>Import an entire deck list &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Need Inspiration?</h2>
        <p>You can find thousands of decklists made by the pros online!  Checkout MTGGoldfish.com for thousands of deck lists. 
        Simply click download and copy the mainboard of the deck and paste it into the deck importer.</p>
        <p><a class="btn btn-default" href="https://www.mtggoldfish.com/metagame/standard#paper">Check it out &raquo;</a></p>
    </div>
</div>